@{
    ViewBag.Title = "Administrator page";
}

<h1 class="text-center">@ViewBag.Title</h1>

<button class="btn btn-warning" type="button"><a asp-action="GetAllRecipes" asp-controller="Administrator">All Recipes</a></button>
<button class="btn btn-primary" type="button"><a  asp-action="GetAllUsers" asp-controller="Administrator">All Users</a></button>

