@model List<AllRecipesViewModel>

@{
    ViewBag.Title = "All Recipes";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">You have no recipes added for the moment!</h2>
}


<div class="table">
@foreach (var recipe in @Model)
{
    <tr>
         <td>@Html.DisplayFor(modelItem => recipe.Name)</td>
         <td><img style="width: auto; height: 100px" src="@Html.DisplayFor(modelItem => recipe.ImageUrl)"></td>
    </tr>
}
</div>